.articlePageHeader {
  padding: 24px 0;
  background-color: #f5f5f5;
  height: 100%;
}

.pageHeaderGhostWrapper {
  height: 100%;
}

.bannerTitle {
  font-size: 2.8rem;
  color: #000;
  font-weight: 600;
}

.tagItem {
  font-weight: 300;
  font-size: 0.8rem;
  padding: 0 0.6em;
  margin: 0.2em;
  border: 1px solid #ddd;
  color: #aaa;
  background: none;
  border-radius: 10rem;
}

.bannerInfo {
  background: #f5f5f5;
  padding: 2rem 0 2rem 0;
  margin-bottom: 1rem;
}

.banner {
  padding: 2rem 0 2rem 0;
}

.articleUsername {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.articleCreatedAt {
  color: #bbb;
  font-size: 0.8rem;
}

.editArticleButton {
  margin-right: 4px;
}

.articleBody {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}

.articleHr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
