.errorRow {
    display: flex;
    margin-top: .5rem;
    font-weight: 500;

    &Icon {
        flex: 0 0 auto;
        margin: 4px .75rem  0 0;
        color: #f5222d;
    }

    &Text{
    }
}

.errorIcon {
    width: 24px;
    height: auto;
    margin-right: 10px;
    flex-shrink: 0;
}

.errorMessage {
}
